.container-lastest-reviews {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide {
    width: 33.33%;
    max-width: 400px;
    margin: 0 1rem;
  }
  
  .slick-slide img {
    width: 50%%;
    height: auto;
  }
  
  .slick-dots {
    bottom: 1rem;
    margin: 0 auto;
  }
  
  .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
    margin: 0 1rem;
  }
  
  .slick-dots li.slick-active {
    opacity: 1;
  }